.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #fcfcfc;
    margin-top: 15px;
    border-radius: 15px;

}